<p-toolbar styleClass="bg-gray-900 shadow-2"
    [style]="{ 'border-radius': '0rem', 'width': '100%' ,'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                <i class="pi pi-home text-2xl" routerLink="home"></i>
            </button>
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                <i class="pi pi-user text-2xl" routerLink="profile"></i>
            </button>
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                <i class="pi pi-search text-2xl" ></i>
            </button>
            <button
                class="p-link inline-flex justify-content-flex-end align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                <i class="pi pi-shopping-cart text-2xl" pBadge value="2" ></i>
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-3">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
                (click)="menu.toggle($event)"></p-avatar>
            @if (isLogged()) {
                <span class="font-bold text-bluegray-50">
                    {{ user.username }}
                </span>
            }@else {
                <a routerLink="login" class="p-button p-button-text text-white">Iniciar sesion</a>
            }
            
        </div>
    </ng-template>
    

</p-toolbar>
<p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"/>