<p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="false"
autoplayInterval="3000">
    <ng-template let-image pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
                <div class="relative mx-auto">
                    <img [src]="'/assets/home-imgs/' + image" [alt]="image" class="w-full border-round" />
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<div class="text-center mt-4 bg-gray-100 px-4 py-5 ">
    <h2 class="text-xl font-bold">Comienza tu búsqueda</h2>
    <div class="flex justify-content-center align-items-center mt-3">
        <input type="text" placeholder="Buscar..." class="p-inputtext p-component p-mr-2" />
        <button pButton pRipple icon="pi pi-search" class="p-button-primary"></button>
    </div>
</div>

<div class="flex justify-content-center">
    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
</div>
<div class="flex align-items-center justify-content-center">
    <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="w-full md:w-6 justify-content-center font-bold border-round m-2" >
        <p-carousel [value]="books" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
            <ng-template let-book pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3 carousel-item">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                            <img src="{{book.image?book.image.imageUrl:'/assets/defecto.png'}}" [alt]="book.name"
                                class="w-7 md:w-max block mx-auto" />
                            <p-tag [value]="getStockStatus(book.stock)" [severity]="getStockSeverity(book.stock)" class="absolute"
                                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-3 font-medium">
                        {{ book.title }}
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <div class="mt-0 font-semibold text-xl">
                            {{ '$' + book.price }}
                        </div>
                        <span>
                            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>