<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius: 14px;">
        <div class="flex flex-column align-items-center">
            <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
            <p class="text-color-secondary block mb-5">Please enter the code sent to your mail.</p>
            <p-inputOtp [(ngModel)]="value" [length]="6" style="gap: 0">
                <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                    <input 
                        pInputText
                        type="text" 
                        [maxLength]="6" 
                        (input)="events.input($event)" 
                        (keydown)="events.keydown($event)" 
                        [attr.value]="token" 
                        class="custom-otp-input" />
                    <div *ngIf="index === 3" class="px-3">
                        <i class="pi pi-minus"></i>
                    </div>
                </ng-template>
            </p-inputOtp>
            <div class="flex justify-content-between mt-5 align-self-stretch">
                <p-button label="Resend Code" [link]="true" class="p-0" />
                <p-button label="Submit Code" (onClick)="verifyCode()"/>
            </div>
        </div>
    </div>
</div>


